@model Application.Models.DTOs.PessoaInfo

@{
    ViewData["Title"] = "GetByCpf";
}

<h1>Busca Por CPF</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cep)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataDeCriacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.Cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Cep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Rg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.DataDeCriacao)
            </td>
            <td>
                <a asp-action="Details" class="btn btn-success btn-sm" asp-route-id="@Model.Id">Detalhes</a>
                <a asp-action="Edit" class="btn btn-danger btn-sm" asp-route-id="@Model.Id">Atualizar</a>
                <a asp-action="Delete" class="btn btn-primary btn-sm" asp-route-id="@Model.Id">Excluir</a>
                <a asp-action="Index" class="btn btn-info btn-sm" asp-route-id="@Model.Id">Pagina Inicial</a>
            </td>
        </tr>
    </tbody>
</table>
