@model IEnumerable<Application.Models.DTOs.PessoaInfo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Cadastrar Pessoa</a>
</p>

<form asp-controller="Pessoa" asp-action="GetByName" method="get">
    <p>
        Nome: <input type="text" input name="nome" />
        <input type="submit" value="Buscar" />
    </p>
</form>
<form asp-controller="Pessoa" asp-action="GetByCpf" method="get">
    <p>
        Cpf: <input type="text" input name="cpf" />
        <input type="submit" value="Buscar" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cep)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataDeCriacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataDeCriacao)
            </td>
            <td>
                    <a asp-action="Details" class="btn btn-success btn-sm" asp-route-id="@item.Id">Detalhes</a>
                    <a asp-action="Edit" class="btn btn-danger btn-sm" asp-route-id="@item.Id">Atualizar</a>
                    <a asp-action="Delete" class="btn btn-primary btn-sm" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
